<div class="container mt-3">
    <form class="row g-3" [formGroup]="form">
        <h3>Buscar Empleado</h3>
        <div class="col-md-3">
        <label for="inputLegajo" class="form-label">Legajo</label>
        <input type="legajo" class="form-control" id="inputLegajo" formControlName = "legajo">
        </div>
        <div class="col-md-9">
        <label for="inputApellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="inputApellido" formControlName = "apellido">
        {{legajoEliminar}}
        </div>    
    </form>
    <div class="col-12 mt-4">
      <button type="submit" class="btn btn-primary" (click)="controladorEliminar()">Eliminar Empleados</button>
    </div>
</div>
